@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  font-family:'Lato',sans-serif;
  display:flex;
  width: 100vw;
  min-height: 100vh; 
}

input {
padding-inline: 5px;
}

button {
  color: #FFFFFF;

  width: 475px;
  height: 50px;

  border: 5px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  text-align: center;

  
}

.modal {
  background-color: rgba(3, 3, 3, 0.5);
  align-items: center;
  justify-content: center;

  position: fixed;

    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.card_modal {
  width: 476px;
  height: 563px;
  background-color: #FFFDFD;

  position: relative;

  border-radius: 10px;
}

.card_modal img {
  position: absolute;
  top: 25px;
  right: 25px;
}